<h2>Tråd: <%= h @thread['title'] %></h2>

<div class="posts">
  <% @posts.each do |post| %>
    <div style="border: 1px solid #eee; padding: 10px; margin-bottom: 5px;">
      <strong><%= h post['username'] %>:</strong>
      <p><%= h post['content'] %></p>
    </div>
  <% end %>
</div>

<hr>

<h3>Svara i tråden</h3>
<form action="/threads/<%= @thread['id'] %>/posts" method="post">
  <label>Ditt svar:</label><br>
  <textarea name="content" required style="width: 100%; height: 100px;"></textarea><br>

  <% @categories.each do |category| %>
    <input type="checkbox" name="category_ids[]" value="<%= category['id'] %>" id="cat_<%= category['id'] %>">
    <label for="cat_<%= category['id'] %>"><%= h category['name'] %></label><br>
  <% end %>

  <br>
  <input type="submit" value="Skicka svar">
</form>

<br>
<a href="/">⬅ Tillbaka</a>